/* Header style*/

.header-image{
    background: url(./assets/images/beer.jpeg);
    height: 230px;
    overflow: hidden;
    opacity: 0.4;
}

.header-text{
    position: relative;
    bottom: 160px;
    text-align: center;
}

.input-field{
    width: 250px;
    margin: 0px auto;
    padding: 10px; 
    text-align: center;   
}




/* HomeList flex style */

.flex-container{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.each-beer{
    flex: 0 0 26%;
    margin: 10px 60px;
    padding: 20px;
    text-align: center;
    line-height: 30px;   
  }

.each-beer img{
    margin: 0 auto;
    width: 50px;
    height: 190px;
 }

.each-beer:hover{
    background: #eee;
} 

.beer-name{
    color: goldenrod;
}

.add-cart-button{
    display: block;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
    background: rgb(224, 222, 222);
    color: black; 
}

.add-cart-button:hover{
    background: grey;
}

.center{
    text-align: center;
    color: red;
    font-size: medium;
}


/* Pagination style */

.pagination{
    margin: 0 auto;
    padding: 30px;  
}



/* SingleBeer component style */

.container{
    max-width: 760px;
    margin: 0 auto;
}
.container img{
    width: 70px;
    height: 270px;
    float: left;
}

.beer-details{
    width: 500px;
    float: right;
    text-align: center;
    color: goldenrod;
} 

.container:after{
    content: "";
    display: block;
    clear: both;
}

.go-back-button{
   display: block;
   margin: 90px auto;
   padding: 10px 50px;
   background: rgb(104, 98, 98);
   color: white;   
}



/* Shopping Cart style */

.cart-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
    justify-content: space-between;
}

.cart-item{
    margin: 20px;
    flex: 0 0 44%;
    padding: 80px;
}

.cart-item:hover{
   background: #eee;
}

.cart-item img{
    width: 50px;
    height: 190px;
 }

 .cart-item-details{
    position: relative;
    left: 100px;
    bottom: 150px;
    color: goldenrod;
}

h2{
    text-align: center;
}

.remove-item{
    margin: 0 auto;
    text-align: center;
    display: block;
    padding: 10px 20px;
    background: rgb(151, 147, 147);
    color: white; 
    border-radius: 15px;
}

.remove-item:hover{
    background: grey;
}


.go-home-button{
    position: relative;
    bottom: 50px;
    margin: 0 10px;
    padding: 10px 20px;
    background: rgb(104, 98, 98);
    color: white;
}

/* CartIcon styles */


.cart-icon{
    height: 80px;
    display: block;
    float: right;
    position: relative;
    margin: 0 100px;
    bottom: 70px;
}

.cart-icon img{
   height: 80px;
   width: 80px;
}

.cart-icon p{
    display: block;
    position: relative;
    bottom: 80px;
    left: 80px;
    color: red;
}

@media (max-width: 800px) {
    .each-beer {
      flex: 44%;
    }
}

