/* Header style*/

.header-image{
    background: url(./components/image.jpeg);
    height: 230px;
    overflow: hidden;
    opacity: 0.4;
}

.header-text{
    position: relative;
    bottom: 160px;
    text-align: center;
}

.input-field{
    width: 250px;
    margin: 0px auto;
    padding: 10px; 
    text-align: center;   
}

/* BeerList flex style */

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
}

.each-beer{
    flex: 0 0 26%;
    padding: 10px;
    text-align: center;
    line-height: 45px; 
  }

.each-beer img{
    margin: 0 auto;
    width: 50px;
    height: 190px;
 }

.each-beer:hover{
    background: #eee;
} 

p{
    color: goldenrod;
}

/* Pagination style */

.pagination{
    margin: 0 auto;
    padding: 30px;  
}

/* SingleBeer component style */

.container{
    max-width: 760px;
    margin: 0 auto;
}
.container img{
    width: 70px;
    height: 270px;
    float: left;
}

.beer-details{
    width: 500px;
    float: right;
    text-align: center;
} 

.container:after{
    content: "";
    display: block;
    clear: both;
}

.go-home{
   display: block;
   margin: 0 auto;
   padding: 10px 50px;
   background: rgb(104, 98, 98);
   color: white;   
}

.add-cart{
    margin: 0 auto;
    text-align: center;
    display: block;
    padding: 10px 20px;
    background: rgb(104, 98, 98);
    color: white; 
}

/* Shopping Cart style */
.cart-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
    justify-content: space-between;
}

.cart-beer{
    margin: 20px;
    flex: 0 0 44%;
    padding: 80px;
}

.cart-beer:hover{
   background: #eee;
}

.cart-beer img{
    width: 50px;
    height: 190px;
 }

 .cart-beer-details{
    position: relative;
    left: 100px;
    bottom: 150px;
}

h2{
    text-align: center;
}

.delete-button{
    margin: 0 auto;
    text-align: center;
    display: block;
    padding: 10px 20px;
    background: rgb(104, 98, 98);
    color: white; 
    opacity: 0;
}
.cart-beer:hover .delete-button{
  opacity: 1;
}
